
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.book-container {
    padding :60px;
    width: 100%;
    border-radius: 8px ;
     border: 3px solid rgb(25, 97, 149);
    background-color:  rgb(130, 175, 208);
    text-align: center;
    max-width: 100%;
}
.cancel-container {
    padding :60px;
    width: 100%;
    border-radius: 8px ;
     border: 3px solid rgb(25, 97, 149);
    background-color:  rgb(130, 175, 208);
    text-align: center;
    max-width: 100%;
}

h1 {
    color: white;
}

.inputs input{
    margin-bottom: 10px;
    padding: 3px;
    width: 100%;
}

li {
    /* text-decoration: none; */
    margin: 1rem;
    display: flex;
    /* align-items: start; */
    /* justify-content: start; */
}


.cancel-row{
    display: flex;
     align-items: start;
    justify-content: space-around;
}


